PORT=3000
NODE_ENV=production
EDITOR_USERNAME=Topaze
EDITOR_PASSWORD=Mera
DATA_DIR=/app/data
# Port local sur le serveur pour Nginx (ne pas toucher si vous utilisez docker-compose.nginx.yml)
APP_PORT=3050
